# --- DATABASE CONFIG (Cocokin sama Docker) ---
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=rahasia_washweswos
DB_NAME=washweswos_gis

# --- APP CONFIG ---
PORT=3000
NODE_ENV=development
